<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .background-image {
          background-image: url('static/image/index_background.png');
          background-repeat: no-repeat;
          background-position: calc(100% - 10px) center;
        }
      </style>
    <title>ShopEzy</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    </head>

    <body>
        <header class="header">
            <div class="header__top">
              <div class="header__container container">
                <div class="header__contact">
                  <span>(+92) - 305 - 2620311</span>
                  <span>Our Location</span>
                </div> 
                <p class="header__alert-news">
                  Discover deals and new arrivals at ShopEzy.com
                </p>
                <p class="header__top-action">
                  12 Task Remaining
                </p>
              </div>
            </div>

            <nav class="nav container">
              <a href="index" class="nav__logo">
                <img src="../../static/image/logo.png" alt="company_logo" class="nav__logo" style="height: 75px;">
                <img src="../../static/image/name.png" alt="company_name" class="nav__logo">
              </a>
              <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a href="profile_admin" class="nav__link">Profile</a>
                  </li>
      
                  <li class="nav__item">
                    <a href="#" class="nav__link active-link">Customer Details</a>
                  </li>
                </ul>
              </div>
            </nav>
          </header>

          <main class="main">
            <h1 class="home__title" style="text-align: center;"><span>Customer </span>Details</h1>
            <table class="tablenew" style="padding: 0.6rem;;">
                <tr class="table tr th" style="align-items: center;">
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Customer Email</th>
                    <th>Customer Password</th>
                    <th>Customer Country</th>
                    <th>Customer City</th>
                    <th>Customer Address</th>
                </tr>
                {% for detail in details %}
                <tr class="table tr th">
                    <td>{{ detail.0 }}</td>
                    <td>{{ detail.1 }}</td>
                    <td>{{ detail.2 }}</td>
                    <td>{{ detail.3 }}</td>
                    <td>{{ detail.4 }}</td>
                    <td>{{ detail.5 }}</td>
                    <td>{{ detail.6 }}</td>
                </tr>
                {% endfor %}
            </table>
          </main>
    </body>