<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShopEzy</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <div class="header__container container">
          <div class="header__contact">
            <span>(+92) - 305 - 2620311</span>
            <span>Our Location</span>
          </div> 
          <p class="header__alert-news">
            Discover deals and new arrivals at ShopEzy.com
          </p>
          <a href="signin" class="header__top-action">
            Login / Sign Up
          </a>
        </div>
      </div>

      <nav class="nav container">
        <a href="index" class="nav__logo">
          <img src="../../static/image/logo.png" alt="company_logo" class="nav__logo" style="height: 75px;">
          <img src="../../static/image/name.png" alt="company_name" class="nav__logo">
        </a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="index" class="nav__link active-link">Home</a>
            </li>

            <li class="nav__item">
              <a href="" class="nav__link">Contact</a>
            </li>

            <li class="nav__item">
              <a href="" class="nav__link">About us</a>
            </li>

            <li class="nav__item">
              <a href="products" class="nav__link">Products</a>
            </li>
          </ul>
        </div>
          <div class="header__user-actions">
            <a href="" class="header__action-btn">
              <img src="../../static/image/icon-heart.svg" alt="">
              <span class="count">3</span>
            </a>
          </div>

      </nav>
    </header>

    <main class="main">
      <section class="home section--lg">
        <div class="home__container container grid">
          <div class="home__content">
            <span class="home__subtitle">Hot Promotions</span>
            <h1 class="home__title">
              Fashion Trending <span>Great Collection</span></h1>
              <p class="home__description">Discover deals and new arrivals at ShopEzy.com</p>
              <a href="signin" class="btn">Shop Now</a>
          </div>
          <img src="../../static/image/home_img.jpg" alt="home_picture" class="home__img" style="height: 90%;">
        </div>
      </section>
    </main>
  </body>
</html>