<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .background-image {
          background-image: url('static/image/index_background.png');
          background-repeat: no-repeat;
          background-position: calc(100% - 10px) center;
        }
      </style>
    <title>ShopEzy</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    </head>

    <body>
        <header class="header">
            <div class="header__top">
              <div class="header__container container">
                <div class="header__contact">
                  <span>(+92) - 305 - 2620311</span>
                  <span>Our Location</span>
                </div> 
                <p class="header__alert-news">
                  Discover deals and new arrivals at ShopEzy.com
                </p>
                <p class="header__top-action">
                  Welcome!!
                </p>
              </div>
            </div>

            <nav class="nav container">
              <a href="index" class="nav__logo">
                <img src="../../static/image/logo.png" alt="company_logo" class="nav__logo" style="height: 75px;">
                <img src="../../static/image/name.png" alt="company_name" class="nav__logo">
              </a>
              <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                  <li class="nav__item">
                    <a href="products" class="nav__link active-link">Products</a>
                  </li>
                  
                  <li class="nav__item">
                    <a href="cart" class="nav__link">
                    <!-- {{ id }} -->
                    </a>
                  </li>

                  <li class="nav__item">
                    <a href="cart" class="nav__link">Cart</a>
                  </li>
      
                  <li class="nav__item">
                    <a href="shopping_history" class="nav__link">Shopping History</a>
                  </li>

                  <li class="nav__item">
                    <a href="profile_customer" class="nav__link">Profile</a>
                  </li>
                </ul>
              </div>
            </nav>
          </header>

          <main class="main">
            <section class="products section container">
              <div class="tab__btns">
                <a href="#" class="tab__btn active-tab">Electronics</a>
                <a href="products_garments" class="tab__btn">Garments</a>
                <a href="products_groceries" class="tab__btn">Groceries</a>
              </div>

              <div class="tab__items_outer">
                <div class="tab__items_inner">
                  <div class="products__container grid">
                    {% for product in products %}
                    <div class="product__item tab__items">
                      <div class="product__banner">
                        <form id="product-form-{{ product.0 }}" method="POST" action="/details" hidden>
                          {% csrf_token %}
                          <input type="hidden" name="product_id" value="{{ product.0 }}">
                        </form>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('product-form-{{ product.0 }}').submit();" class="product__images">
                          <img src="{{ product.5 }}" alt="" class="product__img default">
                        </a>
                        <!-- <div class="product__actions">
                          <a href="#" class="action__btn" aria-label="Quick View">
                            <i class="fi fi-rs-eye"></i>
                          </a>

                          <a href="#" class="action__btn" aria-label="Add To Wishlist">
                            <i class="fi fi-rs-heart"></i>
                          </a>

                        </div> -->

                        <!-- <div class="product__badge light-pink">Hot</div> -->
                      </div>

                      <div class="product__content">
                        <span class="product__category">Electronics</span>
                        <a href="">
                          <h3 class="product__title">{{ product.1 }}</h3>
                        </a>
                        <div class="product__price flex">
                          <span class="new__price">{{ product.2 }}</span>
                        </div>
                        <!-- <a href="#" class="action__btn cart__btn" aria-label="Add To Cart">
                          <i class="fi fi-rs-shopping-bag-add"></i>
                        </a> -->
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </section>
          </main>

          <script>
            function submitForm(formId) {
              document.getElementById(formId).submit();
            }
          </script>
    </body>