<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .background-image {
          background-image: url('static/image/index_background.png');
          background-repeat: no-repeat;
          background-position: calc(100% - 10px) center;
        }
      </style>
    <title>ShopEzy</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    </head>

    <body>
        <header class="header">
            <div class="header__top">
              <div class="header__container container">
                <div class="header__contact">
                  <span>(+92) - 305 - 2620311</span>
                  <span>Our Location</span>
                </div> 
                <p class="header__alert-news">
                  Discover deals and new arrivals at ShopEzy.com
                </p>
                <p class="header__top-action">
                  Welcome!!
                </p>
              </div>
            </div>

            <nav class="nav container">
              <a href="index" class="nav__logo">
                <img src="../../static/image/logo.png" alt="company_logo" class="nav__logo" style="height: 75px;">
                <img src="../../static/image/name.png" alt="company_name" class="nav__logo">
              </a>
              <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <a href="#" class="nav__link">Products</a>
                  </li>
      
                  <li class="nav__item">
                    <a href="cart" class="nav__link">Cart</a>
                  </li>
      
                  <li class="nav__item">
                    <a href="" class="nav__link">Shopping History</a>
                  </li>

                  <li class="nav__item">
                    <a href="" class="nav__link active-link">Profile</a>
                </ul>
              </div>
            </nav>
          </header>

          <main class="main">
              <img src="../../static/image/profile_icon.png" alt="profile_icon" style="display: flex; padding-left: 47%; width: 700px;">
              <h1 class="home__title" style="text-align: center;"><span>Profile </span>Details</h1>

              <table class="tablenew" style="padding: 0.6rem;;">
                <tr class="table tr th" style="align-items: center;">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Address</th>
                </tr>
                {% if customer %}
                <tr class="table tr th">
                    <td>{{ customer.0 }}</td>
                    <td>{{ customer.1 }}</td>
                    <td>{{ customer.2 }}</td>
                    <td>{{ customer.3 }}</td>
                    <td>{{ customer.4 }}</td>
                    <td>{{ customer.5 }}</td>
                    <td>{{ customer.6 }}</td>
                </tr>
                {% endif %}
            </table>
            </main>
            <form action=""  class="form grid>
              <div class="form__btn">
                <button class="'btn flex btn--sm">Logout</button>
              </div>
            </form>
            
    </body>
</html>